<div class="container" id="home-container">
    <div class="mt-4 p-5 bg-primary text-white rounded text-center bg-home-img">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Lorem ipsum...</p>
      <hr class="my-4">
      <p>Its user Something</p>
      <%= link_to "Sign up !", signup_path, class:"btn btn-success btn-lg"%>
      <%# <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a> %>
    </div>
</div>